*{
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Arial;
}

.hea{
    background: linear-gradient(
        to left, rgb(253, 2, 253), orange
    );
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;  
}

.topnav a {
    cursor: pointer; 
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    border-left: 1px solid white;
}

#lastHead{
    border-right: 1px solid white;
}

.topnav a:hover {
    background: linear-gradient(
        to left, rgb(255, 238, 0), rgb(140, 255, 0)
    );
    color: black;
}

.headLast{
    padding: 8px 5px;
}

.headLast .btnLogin-popup{
    width: 100px;
    height: 20px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.headLast .btnLogin-popup:hover {
    background: linear-gradient(
        to left, rgb(255, 238, 0), rgb(140, 255, 0)
    );
    color: black;
}

.secondDiv{
    left: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    color: black;
    user-select: none;
}

.logo img {
    width: 40px;
    height: 40px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    margin-left: 40px;
}

.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height:3px;
    background: linear-gradient(
        to left, rgb(253, 2, 253), orange
    );
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.thirdImage{
    background-image: url('img/thirdImage.jpeg');
    background-repeat: no-repeat;
    height: 470px;
    background-size: cover;
    margin: 0;
}

.thirdImage div{
    text-align: match-parent;
    margin-left: 10%;
    border-left: 5px solid black;
}

.fourthDi {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
        to left, rgb(253, 2, 253), orange
    );
    height: 470px;
}

.fourthDi div {
    width: 100%;
    padding: 5px;
    margin-left: 7%;
}

.fifthDiv{
    background-image: url('img/world.jpg');
    background-repeat: no-repeat;
    height: 470px;
    background-size: cover;
    margin: 0;
}

.sixthDiv{
    background-image: url('img/world.jpg');
    background-repeat: no-repeat;
    height: 470px;
    background-size: cover;
    margin: 0;
}

h1{
    text-decoration: underline red solid 5px;
}

button{
    background: linear-gradient(
        to left, rgb(253, 2, 253), orange
    );
    border-radius: 10px;
}
